.transfer-table--in {
  width: 75%;
}

.transfer-table--in th,
.transfer-table--in td {
  width: 33%;
}

.transfer-table--out {
  width: 100%;
}

.transfer-table--out th,
.transfer-table--out td {
  width: 25%;
}
