<div class="govuk-grid-row" *ngIf="showPage">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Manage the Clean Heat Market Mechanism</h1>
    <h2 class="govuk-heading-l">Who is this service for?</h2>
    <p class="govuk-body">
      This service is for organisations who supply relevant fossil fuel boilers
      on the UK market to comply with the Clean Heat Market Mechanism (CHMM).
      It is also for organisations who supply relevant heat pumps on the UK
      market to transfer credits acquired through the CHMM.
    </p>

    <h1 class="govuk-heading-l">Organisation already registered?</h1>

    <p class="govuk-body">
      If this is your first time logging into your organisation's account, you will be directed to create a GOV.UK One Login first.
      Please use the same email address as the one which has been added to your organisation's account.
    </p>

    <a
      routerLink="/register-organisation"
      role="button"
      draggable="false"
      class="govuk-button govuk-button--start"
      data-module="govuk-button"
    >
      Start now
      <svg
        class="govuk-button__start-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="17.5"
        height="19"
        viewBox="0 0 33 40"
        aria-hidden="true"
        focusable="false"
      >
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>

    <h1 class="govuk-heading-l">Need to register your organisation?</h1>
    <h2 class="govuk-heading-s">Who must register for this service?</h2>
    <p class="govuk-body">
      You must register for this service if your organisation supplies relevant
      fossil fuel boilers in the specified volumes on the UK market. Please see
      the scheme guidance for more information.
    </p>

    <h2 class="govuk-heading-s">Who else is eligible to register?</h2>
    <p class="govuk-body">
      Your organisation is eligible to register for this service if you sell
      relevant heat pumps on the UK market. Please see the scheme guidance for
      more information.
    </p>

    <h2 class="govuk-heading-s">You can use this service to:</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Report your relevant fossil fuel boiler sales;</li>
      <li>View heat pump credits you have acquired;</li>
      <li>Transfer credits.</li>
    </ul>
    <br />

    <h2 class="govuk-heading-s">Do you need help using this service?</h2>
    <p class="govuk-body">
      You can read more detailed guidance about using this service. This can be
      found here [insert location of guidance].
    </p>
    <p class="govuk-body">
      You can contact the scheme helpdesk by emailing
      <a href="mailto: chmm@environment-agency.gov.uk"
        >chmm@environment-agency.gov.uk</a
      >.
    </p>

    <a
      routerLink="/register-organisation"
      role="button"
      draggable="false"
      class="govuk-button govuk-button--start"
      data-module="govuk-button"
    >
      Start now
      <svg
        class="govuk-button__start-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="17.5"
        height="19"
        viewBox="0 0 33 40"
        aria-hidden="true"
        focusable="false"
      >
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
  </div>
</div>
