ul {
  max-width: max-content;
}

  ul li {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

    ul li a {
      font-size: 1.35rem;
    }
