<div *ngIf="schemeYears$ | async; let schemeYears" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ng-container *ngIf="schemeYears.loading; else show">
      <p class="govuk-body">Loading scheme years...</p>
    </ng-container>
    <ng-template #show>
      <form *ngIf="schemeYears.data">
        <div class="govuk-form-group" [class.govuk-form-group--error]="error">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Which scheme year would you like to go into?
              </h1>
            </legend>
            <p *ngIf="error" id="schemeYear-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>
              {{ error }}
            </p>
            <div class="govuk-radios" data-module="govuk-radios">
              <div
                *ngFor="let schemeYear of schemeYears.data"
                class="govuk-radios__item"
              >
                <input
                  class="govuk-radios__input"
                  [id]="schemeYear.id"
                  [name]="schemeYear.name"
                  type="radio"
                  [value]="schemeYear.id"
                  [(ngModel)]="schemeYearId"
                />
                <label class="govuk-label govuk-radios__label" for="{{ schemeYear.id }}">
                  {{ schemeYear.year }}
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button
          type="submit"
          class="govuk-button"
          data-module="govuk-button"
          [disabled]="schemeYears.loading || !organisationId"
          (click)="onGoToSchemeYear(schemeYears.data)"
        >
          Go
        </button>
      </form>
    </ng-template>
  </div>
</div>
