<h1 class="govuk-heading-l">Are you sure you want to deactivate this user?</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">
      If you choose to deactivate this user, this will mean they no longer have access to the
      <abbr title="Manage the Clean Heat Market Mechanism">M-CHMM</abbr> system.
    </p>

    <div class="govuk-button-group">
      <button class="govuk-button govuk-button--warning" (click)="deactivate()">Yes, deactivate</button>
      <button class="govuk-button govuk-button--secondary" (click)="back()">No, return to user list</button>
    </div>

  </div>
</div>
