.file-upload-li {
  border: 1px solid #b1b4b6;
  padding: 10px;
}

.file-upload-uploaded-file-remove {
  line-height: 38px;
  text-align: right;
  padding-right: 25px;
}

.file-upload-uploaded-file-name {
  line-height: 38px;
}