div.govuk-phase-banner {
  padding: 0.5rem 0rem;
  border-bottom: 0rem;
}

strong.govuk-phase-banner__content__tag {
  max-width: 160px;
  margin-top: -2px;
  margin-bottom: -3px;
  padding: 1px 6px 1px;
  color: #0c2d4a;
  background-color: #bbd4ea;
  text-transform: none;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: normal;
  margin-right: 0.5rem;
}
